<div class="fondo"
  style="width: 100%; height: 100%; flex-direction: column; justify-content: center; align-items: center; gap: 17px; display: inline-flex">
  <img style="width: 100%; height: auto; margin-bottom: 20px;" src="../../../../assets/images/WhiteAfondo.png" />
  <div
    style="height: 1059px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 21px; display: flex">
    <div style="width: 130px; height: 100px; align-items: center; text-align: center; margin-top: 40px;">

      <i class="fa-solid fa-gift icon-white"></i>
    </div>
    <div class="Aragon"
      style="width: 340px; text-align: center; color: white; font-size: 16px; font-weight: 100; word-wrap: break-word">
      El mejor regalo será compartir contigo este día tan especial para nosotros; sin embargo, cualquier detalle de tu
      parte será recibido con mucho cariño.</div>
    <div style="width: 130px; height: 100px; align-items: center; text-align: center;">
      <i class="fa-solid fa-envelope icon-white"></i>

    </div>
    <div class="Zachar"
      style="width: 279px; text-align: center; color: white; font-size: 27px; font-weight: 100; word-wrap: break-word;margin-bottom: 10px;">
      Lluvia de sobres</div>
    <div class="Aragon"
      style="width: 340px; text-align: center; color: white; font-size: 16px;font-weight: 100; word-wrap: break-word">Es
      la tradición de regalar dinero en un sobre a los esposos en el día del evento ♥</div>
    <div style="width: 130px; height: 80px; align-items: center; text-align: center;">
      <img src="assets/icons/transferir.png" alt="Transferencia" class="icon-whites" />
    </div>

    <div class="Zachar"
      style="width: 279px; text-align: center; color: white; font-size: 27px; font-weight: 100; word-wrap: break-word; margin-bottom: 10px;">
      Transferencia</div>



    <!-- INTERBANK -->

    <div style=" width: 100%; max-width: 330px; display: flex; flex-direction: column; gap: 20px; margin-bottom: 10px;">
      <div style=" width: 100%; display: flex; flex-direction: row; gap: 5px;">
        <div class="Philosopher"
          style="width: 30%; height: 100%; border: 1px solid white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 4px; display: flex; justify-content: center; text-align:center; align-items: center; color: white; padding: 10px 10px;">
          INTERBANK
        </div>

        <div
          style="width: 70%; border: 1px solid white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 4px; gap: 10px; display: flex; justify-content: center; text-align:center; flex-direction: column; color: white; padding: 10px 10px;">
          <div style="width: 100%; display: flex; text-align:center; justify-content: center; gap: 5px;">
            <div class="Philosopher">{{this.myform.controls['interbank'].value}}</div>
            <div>
              <button (click)="copy('interbank')" class="copy-button">
                <i class="fas fa-copy"></i>
              </button>

            </div>
          </div>

          <div style="width: 100%; display: flex; text-align:center; justify-content: center; gap: 5px;">
            <div class="Philosopher">CCI: {{this.myform.controls['interbankCCI'].value}}</div>
            <div>
              <button (click)="copy('interbankCCI')" class="copy-button">
                <i class="fas fa-copy"></i>
              </button>

            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- FIN INTERBANK -->

    <!-- BCP -->

    <div style=" width: 100%; max-width: 330px; display: flex; flex-direction: column; gap: 20px;">
      <div style=" width: 100%; display: flex; flex-direction: row; gap: 5px;">
        <div class="Philosopher"
          style="width: 30%; height: 100%; border: 1px solid white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 4px; display: flex; justify-content: center; text-align:center; align-items: center; color: white; padding: 10px 10px;">
          BCP
        </div>

        <div
          style="width: 70%; border: 1px solid white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 4px; gap: 10px; display: flex; justify-content: center; text-align:center; flex-direction: column; color: white; padding: 10px 10px;">
          <div style="width: 100%; display: flex; text-align:center; justify-content: center; gap: 5px;">
            <div class="Philosopher">{{this.myform.controls['bcp'].value}}</div>
            <div>
              <button (click)="copy('bcp')" class="copy-button">
                <i class="fas fa-copy"></i>
              </button>

            </div>
          </div>

          <div style="width: 100%; display: flex; text-align:center; justify-content: center; gap: 5px;">
            <div class="Philosopher">CCI: {{this.myform.controls['bcpCCI'].value}}</div>
            <div>
              <button (click)="copy('bcpCCI')" class="copy-button">
                <i class="fas fa-copy"></i>
              </button>

            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- FIN BCP -->

    <!-- YAPE PLIN -->

    <div style=" width: 100%; max-width: 330px; display: flex; flex-direction: column; gap: 20px; margin-bottom: 20px;">
      <div style=" width: 100%; display: flex; flex-direction: row; gap: 5px;">
        <div class="Philosopher"
          style="width: 30%; height: 100%; border: 1px solid white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 4px; display: flex; justify-content: center; text-align:center; align-items: center; color: white; padding: 10px 10px;">
          Yape/Plin
        </div>

        <div
          style="width: 70%; border: 1px solid white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 4px; gap: 10px; display: flex; justify-content: center; text-align:center; flex-direction: column; color: white; padding: 10px 10px;">
          <div style="width: 100%; display: flex; text-align:center; justify-content: center; gap: 5px;">
            <div class="Philosopher">{{this.myform.controls['yapePlin'].value}}</div>
            <div>
              <button (click)="copy('yapePlin')" class="copy-button">
                <i class="fas fa-copy"></i>
              </button>

            </div>
          </div>


        </div>

      </div>

    </div>

    <!-- FIN YAPLE PLIN -->



    <div class="ArchattsonHollmytro"
      style="width: 100%; text-align: center; color: white; font-size: 36px; font-weight: 100; word-wrap: break-word; padding-top: 20px;padding-bottom: 10px; margin-left: 20px; margin-right: 20px">
      Luis Miguel Gamio Patricio</div>
    <div class="Aragon"
      style="width: 340px; text-align: center; color: white; font-size: 20px; font-weight: 200; word-wrap: break-word">
      Urb. La Aurora Calle Sinchi Roca<br />Mz. D Lote 10 - Huaral</div>
  </div>

  <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
    <img style="width: 100%; height: auto" src="../../../../assets/images/fotopick2.png" />
  </div>
</div>
