.icon-white {
  color: white;
  font-size: 90px; /* Puedes ajustar el tamaño */
}


.copy-icon {
  margin-left: 8px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.copy-icon:hover {
  color: lightblue;
}

.icon-whites {
  width: 90px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  filter: brightness(0) invert(1); /* Convierte la imagen a blanco si es negra */
}
