<div style="width: 100%; height: 100%; background: #2F3E53; flex-direction: column; justify-content: center; align-items: center; gap: 17px; display: inline-flex">
  <div style="height: 1209px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 21px; display: flex">
      <div style="width: 130px; height: 139px; background: #D9D9D9"></div>
      <div style="width: 340px; text-align: center; color: white; font-size: 16px; font-family: Inria Serif; font-weight: 700; word-wrap: break-word">El mejor regalo será compartir contigo este día tan especial para nosotros; sin embargo, cualquier detalle de tu parte será recibido con mucho cariño.</div>
      <div style="width: 130px; height: 139px; background: #D9D9D9"></div>
      <div style="width: 279px; text-align: center; color: white; font-size: 36px; font-family: Inria Serif; font-weight: 700; word-wrap: break-word">Lluvia de sobres</div>
      <div style="width: 340px; text-align: center; color: white; font-size: 16px; font-family: Inria Serif; font-weight: 700; word-wrap: break-word">Es la tradición de regalar dinero en un sobre a los esposos en el día del evento ♥</div>
      <div style="width: 130px; height: 139px; background: #D9D9D9"></div>
      <div style="width: 279px; text-align: center; color: white; font-size: 36px; font-family: Inria Serif; font-weight: 700; word-wrap: break-word">Transferencia</div>
      <div style="width: 340px; height: 73px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 4px; border: 1px white solid; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
          <div style="width: 110px; text-align: center; color: white; font-size: 16px; font-family: Inika; font-weight: 700; word-wrap: break-word">INTERBANK</div>
          <div style="width: 27px; height: 0px; transform: rotate(90deg); transform-origin: 0 0; border: 3px white solid"></div>
          <div style="width: 200px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 11px; display: inline-flex">
              <div style="align-self: stretch; text-align: center; color: white; font-size: 16px; font-family: Inika; font-weight: 700; word-wrap: break-word">5313091148299</div>
              <div style="align-self: stretch; text-align: center; color: white; font-size: 16px; font-family: Inika; font-weight: 700; word-wrap: break-word">CCI: 00237019192671601950</div>
          </div>
      </div>
      <div style="width: 340px; height: 73px; border-radius: 4px; border: 1px white solid; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
          <div style="width: 110px; text-align: center; color: white; font-size: 16px; font-family: Inika; font-weight: 700; word-wrap: break-word">BCP</div>
          <div style="width: 27px; height: 0px; transform: rotate(90deg); transform-origin: 0 0; border: 3px white solid"></div>
          <div style="width: 200px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 11px; display: inline-flex">
              <div style="align-self: stretch; text-align: center; color: white; font-size: 16px; font-family: Inika; font-weight: 700; word-wrap: break-word">37091926716019</div>
              <div style="align-self: stretch; text-align: center; color: white; font-size: 16px; font-family: Inika; font-weight: 700; word-wrap: break-word">CCI: 00237019192671601950</div>
          </div>
      </div>
      <div style="width: 340px; height: 73px; border-radius: 4px; border: 1px white solid; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
          <div style="width: 110px; text-align: center; color: white; font-size: 16px; font-family: Inika; font-weight: 700; word-wrap: break-word">YAPE<br/>PLIN</div>
          <div style="width: 27px; height: 0px; transform: rotate(90deg); transform-origin: 0 0; border: 3px white solid"></div>
          <div style="width: 200px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 11px; display: inline-flex">
              <div style="align-self: stretch; text-align: center; color: white; font-size: 18px; font-family: Inika; font-weight: 700; word-wrap: break-word">970 855 626</div>
          </div>
      </div>
      <div style="width: 350px; text-align: center; color: white; font-size: 36px; font-family: Inika; font-weight: 700; word-wrap: break-word">Luis Miguel<br/>Gamio Patricio</div>
      <div style="width: 340px; text-align: center; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Urb. La Aurora Calle Sinchi Roca Mz. D Lote 10 - Huaral</div>
  </div>
</div>
