
.oliver {
  font-family: 'Oliver-Blush', sans-serif;
}


// .fondo {
//   background: #9b63fd; /* Fondo sólido */
//   background-image:
//     url('../../../../assets/images/efecto.jpg'); /* Segunda imagen */
//   background-size: cover; /* Ajusta las imágenes al contenedor */
//   background-position: center; /* Centra las imágenes */
//   background-blend-mode:
//     color-burn; /* Efecto para la segunda imagen */
//   height: 100vh; /* Ajusta la altura según lo necesites */
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.fondo {
  background:
    url('../../../../assets/images/efecto.jpg'), /* Imagen encima del fondo */
    linear-gradient(45deg, rgba(155, 99, 253, 1), rgb(119, 63, 216)); /* Gradiente de fondo */
  background-size: cover; /* Ajusta tanto el fondo como la imagen al contenedor */
  background-position: center; /* Centra tanto el fondo como la imagen */
  background-blend-mode: color-burn; /* Efecto de mezcla para la imagen */
  height: 100vh; /* Ajusta la altura del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
}

