<div *ngIf="timeRemaining > 0;" class="Zachar" style="padding-bottom: 20px;align-self: stretch; text-align: center; color: white; font-size: 32px; font-weight: 100; word-wrap: break-word; margin-bottom: 10px;">Faltan</div>
<div class="countdown-container">

  <ng-container *ngIf="timeRemaining > 0; else weddingDay">
    <div class="countdown-item">
      <div>{{ days }}</div>
      <div class="countdown-label Aragon" style="margin-top: 10px;">DÍAS</div>
    </div>
    <div class="countdown-separator">:</div>
    <div class="countdown-item">
      <div>{{ hours }}</div>
      <div class="countdown-label Aragon" style="margin-top: 10px;">HORAS</div>
    </div>
    <div class="countdown-separator">:</div>
    <div class="countdown-item">
      <div>{{ minutes }}</div>
      <div class="countdown-label Aragon" style="margin-top: 10px;">MINUTOS</div>
    </div>
    <div class="countdown-separator">:</div>
    <div class="countdown-item">
      <div>{{ seconds }}</div>
      <div class="countdown-label Aragon" style="margin-top: 10px;">SEGUNDOS</div>
    </div>
  </ng-container>
  <ng-template #weddingDay>
    <p class="oliver">¡Hoy es el gran dia!</p>
  </ng-template>
</div>
