<div class="player-container">
  <audio #audioPlayer></audio>

  <!-- Barra de progreso -->
  <div class="progress-container">
    <input type="range" [value]="currentProgress" (input)="updateProgress($event)" />
  </div>

  <!-- Controles de reproducción -->
  <div class="controls">
     <!-- Botón de Shuffle -->
  <button mat-icon-button (click)="toggleShuffle()">
    <mat-icon>{{ isShuffle ? 'shuffle_on' : 'shuffle' }}</mat-icon>
  </button>
    <!-- Botón de Retroceder -->
  <button mat-icon-button (click)="playPrevious()">
    <mat-icon>skip_previous</mat-icon>
  </button>
    <!-- Botón de Play/Pause -->
  <button mat-icon-button (click)="togglePlay()">
    <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
  </button>
    <!-- Botón de Avanzar -->
  <button mat-icon-button (click)="playNext()">
    <mat-icon>skip_next</mat-icon>
  </button>
    <!-- Botón de Repeat -->
  <button mat-icon-button (click)="toggleRepeat()">
    <mat-icon>{{ isRepeat ? 'repeat_on' : 'repeat' }}</mat-icon>
  </button>
  </div>

  <!-- Lista de canciones -->
  <!-- <div class="playlist">
    <div
      *ngFor="let track of playlist; let i = index"
      [class.active]="currentTrackIndex === i"
      (click)="playTrack(i)"
    >
      {{ track.title }}
    </div>
  </div> -->
</div>
