body {
  font-family: "Roboto", sans-serif !important;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #2F3E53; /* Asegúrate de que el fondo coincida con tu diseño */
}

app-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: env(safe-area-inset-bottom); /* Para cubrir la zona de botones */
  background-color: #2F3E53; /* Fondo consistente */
}

body {
  padding: var(--safe-area-inset-top) var(--safe-area-inset-right) var(--safe-area-inset-bottom) var(--safe-area-inset-left);
}

.bg-color {
  background-color: #2F3E53;
  width: 100%;
  height: 100vh; /* Asegura que el fondo ocupe toda la altura visible */
}

app-root {
  padding-bottom: calc(env(safe-area-inset-bottom, 0px));
}

:root {
  --vh: 1vh;
}

html {
  height: calc(var(--vh, 1vh) * 100); /* Ajusta la altura visible */
}

body,
app-root {
  height: 100%;
}


.tdp-table__content {
  width: 100%;
  border-radius: 8px 8px 0px 0px !important;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


@font-face {
  font-family: 'Open-Sans';
  src: url('assets/fonts/opensans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inika';
  src: url('assets/fonts/Inika-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Olivare-Base';
  src: url('assets/fonts/OlivareBase.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oliver-Blush';
  src: url('assets/fonts/OliverBlush.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GlacialIndifference';
  src: url('assets/fonts/GlacialIndifference-Bold.otf') format('opentype');
  font-weight: bold;  /* Establece el peso correcto para la fuente */
  font-style: normal;
}

@font-face {
  font-family: 'LastChristmas';
  src: url('assets/fonts/last.otf') format('opentype');
  font-weight: normal;  /* Establece el peso correcto para la fuente */
  font-style: normal;
}

@font-face {
  font-family: 'ArchattsonHollmytro';
  src: url('assets/fonts/ArchattsonHollmytro.otf') format('opentype');
  font-weight: normal;  /* Establece el peso correcto para la fuente */
  font-style: normal;
}

@font-face {
  font-family: 'Sontheval';
  src: url('assets/fonts/Sontheval.otf') format('opentype');
  font-weight: normal;  /* Establece el peso correcto para la fuente */
  font-style: normal;
}

.Sontheval {
  font-family: 'Sontheval', sans-serif;
}

.Inika {
  font-family: 'Inika', sans-serif;
}

.LastChristmas {
  font-family: 'LastChristmas', sans-serif;
}

.ArchattsonHollmytro {
  font-family: 'ArchattsonHollmytro', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
