<div class="container-principal">
  <div class="container">

    <div class="invitation2">
      <div class="image">
        <img src="../../../assets/images/silueta-pareja.png" alt="silueta" class="image" />
      </div>
    </div>

    <div class="invitation" style="gap: 10px;">
      <div class="hr">
      </div>
      <div class="Aragon prenames" style="padding-bottom: 20px;">
        Bienvenidos a la invitación de
      </div>

      <div class="oliver names" style="padding-bottom: 20px;">
        Luis y Martha
      </div>

      <div class="hr">
      </div>
      <div class="desire Aragon">
        Quisieramos que seas parte de este momento especial ♥
      </div>
      <app-button [text]="'Ingresar con música'" [icon]="'arrow_right_regular_24'" [disabled]="false"
        (onClick)="play(true)" [color]="'mode2'" style="margin-bottom: 10px;">
      </app-button>

      <app-button [text]="'Ingresar sin música'" [icon]="'arrow_right_regular_24'" [disabled]="false"
        (onClick)="play(false)" [color]="'mode1'">
      </app-button>


    </div>
</div>

