<div *ngIf="loading">
      <app-loading></app-loading>
    </div>

    <div *ngIf="!loading">
      <div *ngIf="introduction">
        <app-introduction-section (playEvent)="onPlay($event)"></app-introduction-section>
      </div>

      <div *ngIf="!introduction">
        <app-welcome-section [musicPlay]="musicPlay"></app-welcome-section>

        <app-parents-section></app-parents-section>

        <app-date-section></app-date-section>
        <!-- <div style="width: 100%; height: auto; max-width: 400px;">
          <img src="../../../assets/images/prueba.jpg" alt="invitation" style="width: 100%; height: auto;">
        </div> -->
        <app-address-section></app-address-section>
        <!-- <div style="width: 100%; height: auto; max-width: 400px;">
          <img src="../../../assets/images/prueba.jpg" alt="invitation" style="width: 100%; height: auto;">
        </div> -->
        <app-gift-section></app-gift-section>
        <!-- <div style="width: 100%; height: auto; max-width: 400px;">
          <img src="../../../assets/images/prueba.jpg" alt="invitation" style="width: 100%; height: auto;">
        </div> -->
        <app-dress-code-section></app-dress-code-section>
        <!-- <div style="width: 100%; height: auto; max-width: 400px;">
          <img src="../../../assets/images/prueba.jpg" alt="invitation" style="width: 100%; height: auto;">
        </div> -->
        <app-assistance-section></app-assistance-section>
      </div>
    </div>


